@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-default;
  @apply text-[#ECECF1];
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: lightgray;
  }
}
